.header {
    background: #1F2A63;
    height: 93px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    margin: auto 0;
}

.inline{
    display: flex;
    justify-content: space-between;
}

.navigation_block {
    font-size: 25px;
    line-height: 93px;
    display: flex;
    justify-content: space-around;
}

.navigation_block a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.navigation_block a .item {
    border-radius: 5px;
    padding: 0 20px;
}

.active:after{
    background: #CFDAB0;;
    content: "";
    top: 70px;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1126px;
    }
}
